.container {
  margin: 0.5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.7rem;
}

.active{
    background: linear-gradient(to right, #f84a00, #fdce00);
}

.container:hover {
  background-color: #dddddd;
}

.innerContainer {
  padding-left: 7px;
}
.name {
  font-weight: 700;
  margin: 0;
  text-align: left;
}
.lastMessage {
  color: #888888;
}

.time {
  position: absolute;
  top: 5px;
  right: 10px;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  color: #626161;
}
