.scrollContainer {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.scrollContainer::-webkit-scrollbar {
    width: 6px;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
}

.scrollContainer:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}
